@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
}

.box {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 85wv;
}

p {
  font-family: "Space Mono", monospace;
  color: white;
}

.bck,
#icon{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 2px;
}

a {
  text-decoration: none;
}
